h1 {
    color: #4B0082;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    padding: 0;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 30px;
    color: #008B8B;
  }

body {
  background-color: #FFF8DC;
}

a:link {
  color: #008080;
    }
a:visited {
  color: #DA70D6;
        }
    
ul li {
     font-size: 20px;
    }
