h1 {
    color: #00126b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 0;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: #00c6f2;
  }

body {
  background-color: #fcffcc;
}
